<div th:fragment="this" id="side-bar">
    <button id="btn-id" class="order-button">ID<span class="material-symbols-outlined">arrow_drop_up</span></button>
    <button id="btn-name" class="order-button">Name<span class="material-symbols-outlined">arrow_drop_up</span></button>
    <button id="btn-tier" class="order-button">Tier<span class="material-symbols-outlined">arrow_drop_down</span></button>
    <button id="btn-rating" class="order-button">Rating<span class="material-symbols-outlined">arrow_drop_up</span></button>

    <script src="/js/maps.js" defer></script>
</div>